modules = ["nodejs-20", "web", "postgresql-16", "java-17"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "./deploy.sh"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Tests"
mode = "parallel"
author = 5594263

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run-tests.sh"

[objectStorage]
defaultBucketID = "replit-objstore-f7dbb11e-c24f-4718-b69f-348b5a6a4c16"
